.title{
    text-align: center;
    color: rgb(153, 143, 49);
}
.main, body{
    background-color: #e4e3e3;
}

.WeatherButtonBox {
    justify-content: center;
    display: grid;
    margin: 1rem 0;
}
.inputBar{
    list-style: none;
    display: flex; /* gör så att grejer hamnar på längden*/
    align: center
}
.item{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}